@font-face {
    /* Font for text */
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
    /* Font for titles */
    font-family: 'Archivo', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap");
}
body {
    background-image: url("../images/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;  
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-family: 'Archivo', sans-serif;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: royalblue;
}

.active {
    background-color: royalblue;
}

div {
    font-size: xx-large;
    text-align: center;
    color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 350px;
    height: 300px;
    background-color: black;
    border-radius: 50px;
    font-family: 'Archivo', sans-serif;
}

.text {
    font-size: large;
}
