@font-face {
    /* Font for titles */
    font-family: 'Ubuntu', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
    /* Font for text */
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

}

body {
    background-color: #333;
}

/* First part */

#bloc-page {
    width: 1024px;
    margin: auto;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

#bloc2 {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 175px;
    text-align: center;
}

#bloc2 h2 {
    color: whitesmoke;
}

#section2 {
    display: flex;
    margin-top: 100px;
}

#section2 a {
    text-decoration: none;
    color: #333;
    text-align: center;
    width: 215px;
    height: 300px;
    padding: 10px;
    margin: auto;
    background-color: white;
    display: inline-block;
    border-radius: 25px;
    border: 3px solid deepskyblue;
    box-shadow: 1px 1px 10px rgb(88, 88, 88);
}

#section2 a:hover {
    color: white;
    background-color: #333;
    border: 3px solid white;
}

.article-img2 {
    width: 190px;
    height: 125px;
    border-radius: 15px;
    margin-top: 10px;
}