@font-face {
    /* Font for titles */
    font-family: 'Ubuntu', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
    /* Font for text */
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

}

body {
    background-image: url(../images/background02.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #333;
}

/* First part */

#bloc-page {
    width: 1024px;
    margin: auto;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

#sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    border: 2px solid white;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}

#navigation li {
    display: inline;
    float: left;
}

#navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover:not(.active) {
    background-color: orange;
}

.active {
    background-color: orange;
}

#spots {
    text-align: center;
    margin-top: 300px;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 1px #333;
}

#spots-p {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #333;
}

#section2 {
    display: flex;
    margin-top: 225px;
}

#section2 a {
    text-decoration: none;
    color: #333;
    text-align: center;
    width: 215px;
    height: 300px;
    padding: 10px;
    margin: auto;
    background-color: white;
    display: inline-block;
    border-radius: 25px;
    border: 3px solid orange;
    box-shadow: 1px 1px 10px rgb(88, 88, 88);
}

#section2 a:hover {
    color: white;
    background-color: #333;
    border: 3px solid white;
}

.article-img2 {
    width: 190px;
    height: 125px;
    border-radius: 15px;
    margin-top: 10px;
}